/* Drawer */

.custon-drawer {
		
}

.mdl-layout__drawer-button > i {
	color: #757575;
}

.custon-drawer-header {
	padding: 20px;
}

.custon-avatar-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.custon-avatar {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.custon-avatar-dropdown {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   position: relative;
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
 -webkit-flex-direction: row;
     -ms-flex-direction: row;
         flex-direction: row;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
  	width: 100%;
}

.custon-change-user-button {
	
}

li {
    vertical-align: middle;
}

i {
    vertical-align: middle;
    margin-right: 10px;
}

/* Navigation */

.custon-nav {
	-webkit-box-flex: 1;
   -webkit-flex-grow: 1;
   -ms-flex-positive: 1;
           flex-grow: 1;
}

/* Light */

.custon-link-selected { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #E91E63; 
}

.custon-link-unselected { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: white; 
}

.custon-link:hover { 
    background-color: #F5F5F5 !important;
}

.nav-item-active {
	background: #ff4081;
}

/* Dark */

.custon-link-selected-dark { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: white; 
}

.custon-link-unselected-dark { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #3F51B5; 
}

.custon-link-dark:hover { 
    background-color: #E91E63 !important;
}

.nav-item-active-dark {
	background: #E91E63;
}


/* Others */

.custon-main {
	padding-top: 52px;
}

.custon-content {
    position: relative;
    overflow: hidden;
}

.custon-input-container {
	vertical-align: middle;
}

.custon-badge {
	
}

.custon-table-cell {
	text-overflow: ellipsis;	
	white-space: nowrap;
	overflow: hidden;
	text-align: left !important;
	max-width: 100px;
}

.custon-table-cell-hidden {
	display: none !important;
}

.custom-snack-bar {
    margin: 30px;
    width: 320px;
    height: 72px;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   position: absolute;
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
 -webkit-flex-direction: row;
     -ms-flex-direction: row;
         flex-direction: row;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
}

.custom-snack-bar-content { 

}

.custom-left-line {
    margin-right: 20px;
    height: 100%;
    width: 10px;
}