.custon-items-header {
	margin: 0 auto;
}

.custom-table-container {
	margin: 0 auto;
	padding-left: 52px;
	padding-right: 52px;
	padding-top: 52px;
	padding-bottom: 52px;
}


.custom-table-container-top {
	margin: 0 auto;
	padding-left: 52px;
	padding-right: 52px;
	height: 120px;
	min-height: 0;
}

.custom-text-title {
	margin-top: 32px;
	margin-bottom: 16px;
}

.custom-action-button {
	margin-left: 20px;
}

.custom-students-table {
	margin: 0 auto;
	border: none;
	z-index: 1000;
}