a {
	text-decoration: none;
}

.custom-icon {
	width: 120px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: center;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   position: relative;
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
 -webkit-flex-direction: row;
     -ms-flex-direction: row;
         flex-direction: row;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;

}

.custom-icon-text {
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.custom-icon-sippa {
	
}

.custom-icon-add-team {
	background-image: url("../img/account-multiple-plus.png");
}

.custom-icon-see-teams {
	background-image: url("../img/account-multiple.png");
}

.custom-icon-auto-fit {
	background-image: url("../img/checkbox-multiple-marked-outline.png");
}

.custom-container{
	padding: 20px;
	width: 260px;
	height: 100%;
}

.custom-card-square {
	width: 120px;
	height: 120px;
	position: relative;
	overflow: hidden;
}

.custom-text-card {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

.custom-add-team {
	
}

.custom-class-item {
	padding: 10px;
	text-decoration: none;
}