.custom-add-button {
	margin-bottom: -28px;
}

.custom-table-container {
	margin: 0 auto;
	padding-left: 52px;
	padding-right: 52px;
	padding-bottom: 52px;
}

.custom-text-subtitle {
	margin-bottom: 16px;
}

.custom-text-subtitle {
	margin-top: 32px;
	margin-bottom: 16px;
}

.custom-action-button {
	margin-left: 20px;
}

.custom-students-table {
	border: none;
	margin: 0 auto;
}

.custon-items-header {
	margin: 0 auto;
}